:root {
  color-scheme: light dark;
  --c-dark-background: #37353E;
  --c-dark-cluster-background: transparent;
  --c-dark-label-background: var(--c-dark-background);
  --c-dark-edgeLabel-background:#37353e7d;
  --c-dark-text: #FFFFFF;
  --c-dark-stroke: var(--c-dark-text);
  --c-light-background: #ffffff;
  --c-light-cluster-background: transparent;
  --c-light-label-background: var(--c-light-background);
  --c-light-edgeLabel-background:#ffffff9f;
  --c-light-text: #000000;
  --c-light-stroke: var(--c-light-text);
  --c-background: light-dark(var(--c-light-background), var(--c-dark-background));
  --c-text: light-dark(var(--c-light-text), var(--c-dark-text));
  --c-stroke: light-dark(var(--c-light-stroke), var(--c-dark-stroke));
  --stroke-width: 3px;
  --c-node-stroke: light-dark(var(--c-light-stroke), var(--c-dark-stroke));
  --c-node-icon: var(--c-dark-stroke);
  --c-node-fill: #4f77b7;
  --node-radius: 2px;
  --c-label-fill: var(--c-background);
  --label-fill-opacity: 0.8;
  --c-subgraph-background: light-dark(var(--c-light-cluster-background), var(--c-dark-cluster-background));
  --subgraph-opacity: 0.3;
  --c-subgraph-stroke: light-dark(var(--c-light-stroke), var(--c-dark-stroke));
  --c-subgraph-stroke-thickness: 2px;
  --c-subgraph-stroke-radius: 1ex;
  --c-subgraph-label-background: transparent;
  --c-edge-stroke: light-dark(var(--c-light-stroke), var(--c-dark-stroke));
  --c-edgeLabel-background: light-dark(var(--c-light-edgeLabel-background), var(--c-dark-edgeLabel-background));
  --c-edgeLabel-stroke: light-dark(var(--c-light-stroke), var(--c-dark-stroke));
  --edge-thickness-normal: 3px;
  --edge-thickness-thick: 6px;
  --font-family: Arial, Helvetica, sans-serif;
  --font-size: 16px;
  --c-group-1-primary: #ed2222;
  --c-group-1-secondary: var(--c-dark-text);
  --c-group-2-primary: #999933;
  --c-group-2-secondary: var(--c-dark-text);
  --c-group-3-primary: #AA4499;
  --c-group-3-secondary: var(--c-dark-text);
  --c-group-4-primary: #009E73;
  --c-group-4-secondary: var(--c-dark-text);
  --c-group-5-primary: #D55E00;
  --c-group-5-secondary: var(--c-dark-text);
  --c-group-6-primary: #882255;
  --c-group-6-secondary: var(--c-dark-text);
  --c-group-7-primary: #6A00FF;
  --c-group-7-secondary: var(--c-dark-text);
  --c-group-8-primary: #F0E442;
  --c-group-8-secondary: var(--c-light-text);
  --c-group-9-primary: #0072B2;
  --c-group-9-secondary: var(--c-dark-text);
  --c-group-10-primary: #88CCEE;
  --c-group-10-secondary: var(--c-light-text);
  --c-group-11-primary: #dc98cc;
  --c-group-11-secondary: var(--c-light-text);
  --c-group-12-primary: #35df0f;
  --c-group-12-secondary: var(--c-light-text);
}

svg {
  background: var(--c-background);
  font-family: var(--font-family);
  color: var(--c-text);
}

#canvas {
  fill: var(--c-background);
}

#nodes .node > rect {
  fill: var(--c-node-fill);
  stroke: var(--c-node-stroke);
  rx: var(--node-radius);
}
#nodes .node > g.icon {
  color: var(--c-node-icon);
}
#nodes .node > .labels > text {
  fill: var(--c-text);
}
#nodes .node > .labels > text:first-of-type {
  dominant-baseline: middle;
}
#nodes .node > .labels > text:nth-of-type(2) {
  dominant-baseline: hanging;
}
#nodes .node > .ports > .port > rect {
  fill: var(--c-stroke);
  stroke: var(--c-stroke);
}
#nodes .node > .ports > .port > .labels > text {
  fill: var(--c-text);
  dominant-baseline: middle;
  text-anchor: middle;
}
#nodes .node > .ports > .port > .labels > rect.background {
  stroke: var(--c-edge-stroke);
  fill: var(--c-label-fill);
  fill-opacity: var(--label-fill-opacity);
  rx: 1px;
}
#nodes .node.subgraph > rect {
  fill: var(--c-subgraph-background);
}
#nodes .node.subgraph > .labels > text {
  fill: var(--c-text);
}

#edges > .edge > polyline {
  stroke: var(--c-edge-stroke);
  stroke-linejoin: round;
  fill: none;
}
#edges > .edge > circle {
  fill: none;
  stroke: none;
}
#edges > .edge .labels text {
  fill: var(--c-edge-stroke);
  dominant-baseline: central;
  text-anchor: middle;
}
#edges > .edge .labels > rect.background {
  stroke: var(--c-edge-stroke);
  fill: var(--c-label-fill);
  fill-opacity: var(--label-fill-opacity);
  rx: 1px;
}

/*
@include add_node_group("router", 10);
@include add_node_group("switch", 2);
@include add_node_group("server", 3);
@include add_node_group("firewall", 4);
*/
