@use 'variables';

@mixin add_node_group($type, $group) {
  #nodes {
    .node {
      &.#{$type} {
        >rect {
          fill: var(--c-group-#{$group}-primary);
        }
        >g.icon {
          color: var(--c-group-#{$group}-secondary);
        }
        >.labels {
          >text {
            fill: var(--c-text);
          }
        }
        >.ports {
          >.port {
            >.labels {
              text {
                fill: var(--c-text);
              }
            }
          }
        }
      }
    }
  }
}

svg {
  background: var(--c-background);
  font-family: var(--font-family);
  color: var(--c-text);
}

#canvas {
  fill: var(--c-background);
}

#nodes {
  .node {
    >rect {
      fill: var(--c-node-fill);
      stroke: var(--c-node-stroke);
      rx: var(--node-radius);
    }
    >g.icon {
      color: var(--c-node-icon);
    } 
    >.labels {
      >text {
        fill: var(--c-text);
      }
      >text:first-of-type {
        dominant-baseline: auto;
      }
      >text:nth-of-type(2) {
        dominant-baseline: hanging;
      }
    }
    >.ports {
      >.port {
        >rect {
          fill: var(--c-stroke);
          stroke: var(--c-stroke);
        }
        >.labels {
          >text {
            fill: var(--c-text);
            dominant-baseline: middle;
            text-anchor: middle;
          }
          >rect.background {
            fill: var(--c-label-fill);
            fill-opacity: var(--label-fill-opacity);
          }
        }
      }
    }
    &.subgraph {
      >rect {
        fill: var(--c-subgraph-background);
      }
      >.labels {
        >text {
          fill: var(--c-text);
        }
        
      }
    }
  }
}

#edges {
  >.edge {
    >polyline {
      stroke: var(--c-edge-stroke);
      stroke-linejoin: round;
      fill: none;
    }
    >circle {
      fill: none;
      stroke: none; 
    }

    .labels {
      text {
        fill: var(--c-edge-stroke);
        dominant-baseline: central;
        text-anchor: middle;
      }
      >rect.background {
          fill: var(--c-label-fill);
          fill-opacity: var(--label-fill-opacity);
        }
    }
  }
}
/*
@include add_node_group("router", 10);
@include add_node_group("switch", 2);
@include add_node_group("server", 3);
@include add_node_group("firewall", 4);
*/
